.error{
  background-image: url("src/assets/404_error.webp");
  background-size: cover;
  background-position: center center;
  height: 40.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .back {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 72px;
    }

    p {
      font-size: 32px;
      color: #dcdcdc;
      margin-bottom: 1rem;
    }

    Button {
      color: #eeeeee;
      background-color: #2c2c2c;
      padding: 15px 45px;
      margin-top: 15px;
      font-size: 16px;
      font-family: poppins;
    }
    Button:hover {
      color: #2c2c2c;
      background-color: white;
    }
  }
}

@media (max-width: 850px) {
  .error{
    height: 35rem !important;
    .back{
      h1{
        font-size: 50px;
      }

    }
  }
}

@media (max-width: 740px) {
  .error{
    height: 30rem !important;
    .back{
      h1{
        font-size: 44px;
      }
      p{
        font-size: 28px;
      }
      Button {
        padding: 12px 45px;
      }
    }
  }
}

@media (max-width: 535px) {
  .error{
    height: 30rem !important;
    .back{
      h1{
        font-size: 40px;
        text-align: center;
        margin-bottom: 1rem;
        line-height: 2rem;
      }
      p{
        font-size: 24px;
      }
      Button {
        padding: 10px 30px;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 450px) {
  .error{
    .back{
      h1{
        font-size: 32px;
      }
      p{
        font-size: 22px;
      }
    }
  }
}