header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 3rem;
  background: white;
  border-bottom: 1px solid #ccc;
  height: 85px !important;

  .logo {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      img {
        height: 5rem;
        margin-right: 0.5rem;
      }
    }

    .f_up_text_logo {
      color: #ffad00;
      font-size: 1.75rem;
      font-weight: bold;
      font-family: poppins !important;
    }
  }

  nav {
    display: flex;
    justify-content: right !important;
    gap: 15px;

    button {
      font-family: poppins !important;
    }


  }


  .login {
    display: flex;
    gap: 10px;

    button {
      padding: 8px 14px;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;
      font-family: poppins !important;

      &:first-child {
        background: white !important;
        border: 1px solid #ccc !important;
        color: black !important;
      }

      &:last-child {
        background: black;
        color: white;
        border: none;

      }
      &:hover {
        opacity: 0.8;
      }
    }
  }


  .mobile {
    display: none;
  }

  .icons {
    display: none;

    button{
      padding: 0 !important;
      background-color: transparent;
    }
  }

  .menu-icon, .user-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
}

@media (max-width: 1100px) {
  header {
    height: 60px !important;
    padding: 10px 2rem;

    nav{
      z-index: 99;
    }

    .logo {
      a {
        img {
          height: 4rem;
        }
      }

      .f_up_text_logo {
        font-size: 21px;
      }
    }
    .login {
      display: none;
    }

    .menu-icon, .user-icon {
      display: flex;
    }

    .icons {
      display: flex;
      margin-left: 2rem;
    }

    .user-icon {
      margin-right: 2rem !important;
    }
  }
}

@media (max-width: 850px) {
  header {
    padding: 10px 2rem;

    nav {
      display: none;
      position: absolute;
      top: 61px;
      left: 0;
      width: 100%;
      background: white;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px 0;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    nav.open {
      display: flex !important;
    }

    .login {
      display: none;
    }

    .menu-icon, .user-icon {
      display: block;
    }

    .user-icon {
      margin-right: 2rem;
    }

    .icons {
      display: flex;
      gap: 15px;

      i {
        font-size: 24px !important;
        padding:0rem 10px !important;
      }
      button{
        padding: 0 !important;
        background-color: transparent;
      }
    }
  }
}
@media (max-width: 450px) {
  header {
    padding: 10px 1rem;
    .f_up_text_logo{
      display: none;
    }
    .user-icon{
      margin-right: 0.7rem !important;
    }
  }

}
