.places_section_1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .Places_1{
    font-family: roboto !important;
    width: 49.5%;
    height: 18.75rem;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.7);

    h3{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.5rem;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 5px 10px;
      border-radius: 5px;
      height: 2.5rem;
    }
  }
  .Places_1:hover{
    box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.9);
  }
}
.places_section_2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .Places_2{
    font-family: roboto !important;
    width: 32.5%;
    height: 18.75rem;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    background: #a3a3a3;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.7);
  }
  h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    height: 2.5rem;
  }
  .Places_2:hover{
    box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.9);
  }
}
.places_section_3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .Places_3 {
    font-family: roboto !important;
    width: 24%;
    height: 15rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;


    img {
      width: 100% !important;
      border-radius: 8px;
      margin-bottom: 0.5rem;
      height: 40rem !important;
      overflow: hidden;
      box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.4);
    }
    img:hover{
      box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.6);
    }
    h4{
      font-size: 16px !important;
      font-weight: 500;
    }
  }
}

.places_section_4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .Places_4 {
    font-family: roboto !important;
    width: 13.5%;
    height: 15rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    img {
      width: 100% !important;
      border-radius: 8px;
      margin-bottom: 0.5rem;
      height: 40rem !important;
      overflow: hidden;
      box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.4);
    }
    img:hover{
      box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.6);
    }
    h4{
      font-size: 16px !important;
      font-weight: 500;
    }
    .descr_h4{
      font-size: 14px !important;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5) !important;
    }

  }
}


.places_section_5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .Places_5 {
    font-family: roboto !important;
    width: 24%;
    height: 25rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding:15px;
    border:1px solid #dfdfdf;
    font-family: roboto;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.4);


    img {
      border-radius: 8px;
      margin-bottom: 0.5rem;
      height: 40rem !important;
      overflow: hidden;
    }
    h4{
      font-size: 16px !important;
      font-weight: 400;
      margin-bottom: 0.2rem;
    }
    .descr_h4{
      font-size: 12px !important;
      font-weight: 400;
    }
    p{
      display: flex;
      flex-direction: row;
      justify-content: right;
      .span1{
        color: rgba(0, 0, 0, 0.5);
        margin-right: 10px;
      }
      .span2{
        color:red;
        margin-right: 10px;
      }
      .span3{
        font-weight: 600;
      }
    }


  }
  .Places_5:hover {
    box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.6);
  }
}


.places_section_6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  .inspiration_big{
    display: flex;
    flex-direction: column;
    width: 49.5%;
    margin-top: 1.5rem;
    cursor: pointer;
    img{
      border-radius: 15px;
      margin-bottom: 0.5rem;
      height: 20rem !important;
      width: 100% !important;
      overflow: hidden;
      box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.7);
    }
    img:hover{
      box-shadow: 5px 5px 10px rgba(165, 165, 165, 1);
    }
    h4{
      font-size: 16px !important;
      font-weight: 600;
      margin-bottom: 0.2rem;
    }
    .descr_h4{
      font-size: 14px !important;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5) !important;
    }
  }
  .other_palce{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 49.5%;

    .Places_6 {
      font-family: roboto !important;
      width: 49.5%;
      height: 25rem;
      border-radius: 8px;
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      font-family: roboto;
      cursor: pointer;

      img {
        width: 100% !important;
        border-radius: 15px;
        margin-bottom: 0.5rem;
        height: 15rem !important;
        overflow: hidden;
        box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.7);
      }
      img:hover{
        box-shadow: 5px 5px 10px rgba(165, 165, 165, 0.9);
      }

      h4 {
        font-size: 16px !important;
        font-weight: 600;
        margin-bottom: 0.2rem;
      }

      .descr_h4 {
        font-size: 14px !important;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5) !important;
      }
    }
  }

}



.places_section_7 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .Places_7 {
    font-family: roboto !important;
    width: 100%;
    min-height: 10rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    font-family: roboto;
    border: 1px solid #D9D9D9;
    padding: 25px;

    .icon{
      margin-right: 25px;
      i{
        color: #FFAD00;
        font-size: 32px !important;
      }
    }
    .content{
      display: flex;
      flex-direction: column;

      .title{
        font-size: 24px !important;
        font-weight: 600;
        margin-bottom: 0.2rem;
      }
      .desc{
        font-size: 16px !important;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5) !important;
      }
      .buttons{
        margin-top: 1rem;
      }
      .buttons button:first-child{
        margin-right: 20px;
        background-color: #FFAD00;
      }
    }

  }
}

.section9, .section8, .section7, .section3{
  margin-top: 4.5rem;
}

.section6, .section5{
  margin-top: 3.5rem;
}
.section4, .section2{
  margin-top: 1rem;
}


@media (max-width: 1250px) {
  .places_section_5 .Places_5:nth-last-child(-n+2), .places_section_4 .Places_4:nth-last-child(-n+2) {
    display: none;
  }

  .places_section_5 .Places_5 {
    width: 49%;
  }

  .section6, .section5 {
    margin-top: 2rem !important;
  }
}

@media (max-width: 740px) {
  .places_section_5 .Places_5 {
    height: 20rem !important;

    img {
      height: 15rem !important;
    }
  }
}


  @media (max-width: 535px) {
    .places_section_5 .Places_5 {
      width: 100%;
      height: 21rem !important;

      img {
        height: 15rem !important;
      }
    }
    .places_section_5 .Places_5:first-child, .places_section_4 .Places_4:nth-last-child(-n+4) {
      display: none;
    }
  }


